.center_milieu{
	width:30%;
 border-width:1px;
 border-style:dotted;
 border-color:black;
 margin-top:20%;
 margin-left:35%;
}
.utilisateur_groupe{
	width:80%;
 border-width:1px;
 border-style:dotted;
 border-color:black;
 margin-left:10%;
 margin-top:10%;
 
}

.center_milieu2{
	width:30%;
 border-width:1px;
 border-style:dotted;
 border-color:black;
 margin-top:10%;
 margin-left:35%;
}
